<header class="intro">
  <h1 class="intro__hello">Joanna Yoo
    <!-- <span class="emoji wave-hand animated"></span> -->
  </h1>

  <h2 class="intro__tagline">유서연</h2>
  <!-- I'm
    <span class="name">Joanna Yoo</span>, a machine learning engineer.
    <span class="emoji technologist"></span> -->

  <h3 class="intro__contact">
    <span>Get in touch </span>
    <span class="emoji pointer"></span>
    <span>
      <a href="mailto:hi@joannayoo.dev" target="_blank" class="highlight-link">hi@joannayoo.dev</a>
    </span>
  </h3>
</header>